#search{
  font-size: 60px;
  max-length:15;
  margin-bottom: 10px;
  border-top: 1px solid #111;
  border-bottom: 1px solid white;
  color:white;
  font: 50px/50px 'Megrim', Georgia,
  serif;
}
#search-text{
  color:white;
  font: 20px/20px 'Megrim', Georgia,
  serif;
}

#searchartist{
  font-size: 11px !important;
}


ul#nav-mobile > li:hover > a {
    background: rgba(86, 86, 86, 0.71);
}
.white-text {
    color: #d27777 !important;
}


img.logo-img {
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    -webkit-filter: invert(1);
}

.search-input {

}

.search-input > .search-input-field {
  height: auto;
  width: 100%;
  margin: 150px 0 0;
  padding: 0;
  border: none;
  border-bottom: none;
  border-radius: 4px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: none;
  box-sizing: content-box;
  font-family: 'Megrim', Georgia;
  font: 50px/1 'Megrim', Georgia, serif;
  color: white;
  transition: all 0.3s;
}





.character-counter{
  color:white;
}

.flex-container {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    vertical-align:middle;
}
.input_text{
    border-bottom: 1px white;
}

#page {
  margin-left:auto;
  margin-right:auto;
  width:960px;
}

  a.song {
    margin: 5px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  a.song i {
    margin-left: -15px;
  }

  /* Single letter style */
  a.song span {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 5px 0 10px;
    font-size:20px;
  }

.genre{
  margin:0px 0px;
}
.row {
  margin-bottom: 0px;
}

body {
    padding-bottom: 1.5em;
    padding-top: .5em;
}

#selected{
  font-size: 30px;
  font: 20px/20px 'Megrim', Georgia,
  serif;
  text-transform: uppercase;
}

#metal-genre{
  font-size: 70px;
  font: 50px/50px 'Megrim', Georgia,
  serif;
  color: #fff;
  text-transform: uppercase;
}
#Genre-sidebar{
  font-size: 40px;
  font: 30px/30px 'Megrim', Georgia,
  serif;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 1.5em;
}

#wordcloud{
  font-size: 70px;
  font: 50px/50px 'Megrim', Georgia,
  serif;
  color: #fff;
  text-transform: uppercase;
}
  #causticLogo{
    font-size: 70px;
    font: 50px/50px 'Megrim', Georgia,
    serif;
    color: #fff;
    text-transform: uppercase;
     font-weight: bolder;
  }
  #search{
    font-size: 60px;
    max-length:15;
  }

  #track_name {
    font-size: 15px;
    color: #fff;
}
.acrostic-play{
  color: white;
  margin-right: 1em;
}

#header {
position:fixed;
top: 0px;
left:0px;
width:1000px; – the width of your image
height: 100px; – the height of your image
z-index:999999;
}

.modalText{
  font-size: 18px;
  font: 18px/18px 'Megrim', Georgia,
  serif;
  color: #fff;
  text-transform: uppercase;
}

img.logo-img {
    position: fixed;
}

.firstLetter{
  font-size: 38px !important;
  color:#580f0f;

}
  .artist{
    font-size: 20px;
    color: #fff;
  }
  .acrosticLetter {
    font-size: 70px;
    font: 50px/50px 'Megrim', Georgia,
    serif;
    color: #fff;
    text-transform: uppercase;
  }
    a.song {``
      margin: 5px;
      text-decoration: none;
      display: block;
      text-align: left;
    }

    #playlist-container .modal {
      height: 500px;
    }
    a.song i {
      margin-left: -15px;
    }

    /* Single letter style */
    a.song span {
      text-transform: uppercase;
      font-weight: bold;
      margin: 0 5px 0 10px;
      font-size:20px;
    }

    body {
      background-image: url(../images/background.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }


    #playlist-container{
      width:400;
    }

#playlist-words:hover{
  color: grey !important;
}

#playlist-words {
   margin-left: 430px;
   font-size: 70px;
   font: 45px/45px 'Megrim', Georgia, serif;
   color: #fff;
   text-transform: uppercase;
}

.genre-selection{
  font-size: 40px;
  font: 30px/30px 'Megrim', Georgia,
  serif;
  color: #fff;
  text-transform: uppercase;
}
