#searchartist{
  font-size: 25px;
  max-length:15;
  margin-bottom: 10px;
  border-top: 1px solid #111;
  color:white;
  font: 25px/25px 'Megrim', Georgia,
  serif;

}


/**{
  border:solid green;
}*/
#playlist-container{
  width:400;
}

.no-focus:focus{
  border-bottom: 0px !important;
  box-shadow: none !important;
}


#dynamic-search{
  font-size: 60px;
  max-length:15;
  margin-bottom: 10px;
  border-top: 1px solid #111;
  color:white;
  font: 50px/50px 'Megrim', Georgia,
  serif;
}
input{
  border-bottom: none;
}


.song-list {
  width: 900px;
  margin-left: auto;

}

.song-list i {
  font-size: 30px;
}

#search{
  font-size: 60px;
  max-length:15;
  margin-bottom: 10px;
  border-top: 1px solid #111;
  border-bottom: 1px solid white;
  color:white;
  font: 50px/50px 'Megrim', Georgia,
  serif;
}
#search-text{
  color:white;
  font: 20px/20px 'Megrim', Georgia,
  serif;
}




.search-input {

}

.search-input > .search-input-field {
  height: auto;
  width: 100%;
  margin: 150px 0 0;
  padding: 0;
  border: none;
  border-bottom: none;
  border-radius: 4px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: none;
  box-sizing: content-box;
  font-family: 'Megrim', Georgia;
  font: 50px/1 'Megrim', Georgia, serif;
  color: white;
  transition: all 0.3s;
}





.character-counter{
  color:white;
}

.flex-container {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    vertical-align:middle;
}
.input_text{
    border-bottom: 1px white;
}

#page {
  margin-left:auto;
  margin-right:auto;
  width:960px;
}
/* do not group these rules */
*::-webkit-input-placeholder {
  font-size: 28px;
  padding-left: 10px;
  padding-right: 10px;
}
*:-moz-placeholder {
    /* FF 4-18 */
  font-size: 28px;
  padding-left: 10px;
  padding-right: 10px;
}
*::-moz-placeholder {
    /* FF 19+ */
  font-size: 28px;
  padding-left: 10px;
  padding-right: 10px;
}
*:-ms-input-placeholder {
    /* IE 10+ */
  font-size: 28px;
  padding-left: 10px;
  padding-right: 10px;
}

  a.song {
    margin: 5px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  a.song i {
    margin-left: -15px;
  }

  /* Single letter style */
  a.song span {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 5px 0 10px;
    font-size:20px;
  }

.genre{
  margin:0px 0px;
}
.row {
  margin-bottom: 0px;
}

body {
    padding-bottom: 1.5em;
    padding-top: .5em;
}

#metal-genre{
  font-size: 70px;
  font: 50px/50px 'Megrim', Georgia,
  serif;
  color: #fff;
  text-transform: uppercase;
}
  #causticLogo{
    font-size: 70px;
    font: 50px/50px 'Megrim', Georgia,
    serif;
    color: #fff;
    text-transform: uppercase;
  }
  #search{
    font-size: 60px;
    max-length:15;
  }

  #track_name {
    font-size: 15px;
    color: #fff;
}
.acrostic-play{
  color: white;
  float: left;
  position: relative;
  top: .5em;
  margin-right: 1em;
}
  .artist{
    font-size: 20px;
    color: #fff;
  }
  .acrosticLetter {
    font-size: 70px;
    font: 50px/50px 'Megrim', Georgia,
    serif;
    color: #fff;
    text-transform: uppercase;
  }
    a.song {
      margin: 5px;
      text-decoration: none;
      display: block;
      text-align: left;
    }

    a.song i {
      margin-left: -15px;
    }

    /* Single letter style */
    a.song span {
      text-transform: uppercase;
      font-weight: bold;
      margin: 0 5px 0 10px;
      font-size:20px;
    }

    body {
      background-image: url(../images/background.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }

.invisible {
  visibility: hidden;
}

.track-info {
  display: none;
}

.track-wrapper:hover .track-info {
  font-size: 15px;
  color: #fff;
  visibility: visible;
  display: block;
}


.blurredElement {

     /* Any browser which supports CSS3 */
    filter: blur(3px);

    /* Firefox */
    filter: url("blur.svg#gaussian_blur");

    /* Webkit */
    -webkit-filter: blur(5px);

    /* Opera */
    -o-filter: blur(5px);
}
